* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #161616;
    color: aliceblue;
}
.btns {
    display: flex;
    justify-content: space-between;
}
.btns button {
    padding: 10px 40px;
    font-size: 17px;
    background: none;
    border: none;
    color: aliceblue;
    box-shadow: 2px 5px 5px rgb(36, 36, 36);
    cursor: pointer;
}
.screen {
    font-size: 49px;
    text-align: center;
    padding: 10px 20px;
}